#myCarousel{
	margin-top: 10px;	
	height: 100%;
}

#btnleft{
	float: left;
}
#btnright{
	float: right;
}

#preg{
	width: 100%;
	height: 100%;
}
#divselect{
	width: 200px;
	margin-bottom: 25%;
}

#titulocontenido{
	font-style:italic;
	font-weight:bold;
	font-size:2em;
	font-color:#ffffff;
	font-family:'Helvetica','Verdana','Monaco',sans-serif;
}
#labelradio{
		width: 90px;
		height: 40px;
		}
#h3radio{
		font-size:4mm;
		width: 50px;
		margin-bottom: 18px;
		padding-left: 0px;

		}
#radio{
	width:  20px;
	height: 18px;
	margin-left: -10px;
	}


#section{
	margin: 20px;
	border: 2px solid;
	width: 88%;
	height: 170px;
}

#section2{
	margin: 40px;
	width: 88%;
	height: 110px;
}


#divradios{
	border: 1px solid;
	width: 15%;
	height: 30px;
}
.x_title{
 	margin-bottom: 30px;
}
#divselect{
	width: 50%;
}

.dropdown-menu{
	height: 180px;
}


progress[value] {
/* Eliminamos la apariencia por defecto */
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
-webkit-writing-mode: horizontal-tb;
/* Aplicamos las dimensiones */
width: 250px;
height: 26px;

}

/* Compatibilidad de color en Firefox y Chrome */
progress[value]::-webkit-progress-bar {
background-color: white;
border-radius: 5px ;
border: 1px solid;
}

progress[value]::-webkit-progress-value {
background-color: #2BCE3D;
 background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #4ced42);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;

}

progress[value]::-webkit-progress-value::before {
  content: '80%';
  position: absolute;
  right: 0;
  top: -125%;

}

@media only screen and (max-width: 1200px) {
	#labelradio{
		width: 70px;
		height: 30px;
	}
	#h3radio{
		font-size:3mm;
		width: 50px;
		margin-bottom: 18px;

	}
	#radio{
	width:  18px;
	height: 18px;
	margin-bottom: 15px;
	}
	


}