.fondo{
	background-image: url(/images/fondoControl.png);
}
.letra1{
	font-family: Bebas Neue , Alex Brush;
	color: black;
	font-size: 60px;
	align-items:  left;
}
.letra2{
	font-family: Bebas Neue , Alex Brush;
	font-size: 60px;
	align-items:  left;
}
.cajaletra{
	margin-left: -150px;
	width: 650px
}